<!DOCTYPE html>
<!--
    Selective Soup | Justin Zou, Wen Hao Dong, Roshani Shrestha (Pete)
    SoftDev 
    K14: Form and Function - Notes for app.py
    2021-10-15
-->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
        Selective Soup | Justin Zou (Piggy), Wen Hao Dong (Jal Hordan), Roshani Shrestha (Pete)
    </h1>


    <h3>
      Username: {{ username }}
    </h3>
    Request Method Used: {{ request }}
    <br>
    Hello there, stranger!    
    <br>
  </body>

</html>
